<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="84ae6777-968a-42b1-8466-73593848e992" name="Test Suite - Component Level" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="84ae6777-968a-42b1-8466-73593848e992fileName">Test-Suite---Component-Level</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>