<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="a90d37e1-dd29-4e57-9002-5a2a6889aafb" name="Test Suite - Negative Scenarios" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="a90d37e1-dd29-4e57-9002-5a2a6889aafbfileName">Test-Suite---Negative-Scenarios</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>