<?xml version="1.0" encoding="UTF-8"?>
<con:mockService id="853b80a4-b7e5-4ba8-b277-824fc02d5e39" port="8088" path="/" host="localhost" name="CountryInfoServiceSoapBinding12 Virtual Service" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="com.eviware.soapui.impl.wsdl.mock.WsdlMockService@require-soap-action">false</con:setting><con:setting id="853b80a4-b7e5-4ba8-b277-824fc02d5e39fileName">CountryInfoServiceSoapBinding12-Virtual-Service</con:setting></con:settings><con:properties/><con:constraints><con:congestion>0</con:congestion><con:inputBandwidth>-1</con:inputBandwidth><con:outputBandwidth>-1</con:outputBandwidth><con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity><con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity><con:virtError><con:start>0</con:start><con:endless>true</con:endless></con:virtError></con:constraints><con:dataSources/><con:headerValidator type="NONE"/></con:mockService>